/* styles.css */

/* Global styles */
body {
    font-family: 'Bebas Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('https://t4.ftcdn.net/jpg/01/41/94/53/360_F_141945349_ocGfNKfPM3uc1A2LrNtodZq7KV9sWzNB.jpg'); /* Path to your cartoon mountain image */
    background-size: cover;
    background-position: center;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    flex: 1; /* Grow to fill remaining space */
    text-align: center; /* Center align text */
}

.container h2 {
    font-size: 36px; /* Increase font size */
}

.container p {
    font-size: 20px; /* Increase font size */
    margin-bottom: 20px; /* Add space below the paragraph */
}

/* Header styles */
header {
    background-color: #57bb8a; /* Green color */
    color: #ffffff;
    padding: 20px 10px; /* Added units for padding */
    text-align: center;
}

/* Navigation styles */
nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff; /* Changed color to white */
    font-weight: bold;
    font-size: 18px;
}

nav ul li a:hover {
    color: #f0f0f0;
}

/* Footer styles */
footer {
    background-color: #57bb8a; /* Green color */
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: auto; /* Push footer to the bottom */
}

/* Add specific styles to the stand-out list item */
.container ul li.stand-out {
    font-size: 24px; /* Larger font size */
    font-weight: bold; /* Bold font weight */
    color: #3d7fc2c3; /* Custom color (orange) */
    margin-bottom: 10px; /* Add space below the emphasized line */
    list-style: none; /* Remove bullet points */
}
